div.note-list {
  background-color: white;
  border: 2px solid $brand-color;
  margin-bottom: 20px;
  overflow: hidden;

  *:focus {
    outline: -webkit-focus-ring-color auto 0px;
  }

  button.note-expander {
    border: none;
    margin: 5px 5px 5px 5px;
    background-color: white;
    color: $brand-color;
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    text-align: left;

    &:hover {
      cursor: pointer;
    }
  }

  ul {
    margin: 0;
    width: 100%;

    li {
      list-style-type: none;
      width: 100%;
      background-color: white;
      border-top: 2px solid $brand-color;
      padding: 0;
      margin: 0;
      overflow: hidden;

      a.note-link {
        color: black;
        text-align: center;
        width: 100%;
        display: block;
        margin: 0;
        padding: 7px;
        padding-left: 27px;
        height: 100%;
        text-align: left;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background-color: $grey-color-light;
      }
    }
  }
}
